In [5]:
import pandas as pd
import numpy as np
#import geopandas as gpd
import urllib#pour récupérer les données
import bs4#pour rendre lisibles les données
#import html5lib

Récupération des députés sur le site de l'Assemblée Nationale

In [97]:
def Scrap (url):
    req = urllib.request.Request(url)
    html = urllib.request.urlopen(req).read()
    page = bs4.BeautifulSoup(html, "lxml")
    return page

In [121]:
def ToDf (table) :
    Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
    listeDf=Listgrossiere[0]#on récupère le dataframe
    return listeDf

In [ ]:
html = urllib.request.urlopen(req).read()
    page = bs4.BeautifulSoup(html, "lxml")#on rend lisible la page
    table = page.find('table')#on récupère le seul tableau de la page qui liste des députés
    Listgrossiere=pd.read_html(str(table))#on transforme le tableau en liste de dataframes
    liste=pd.concat([liste,Listgrossiere[0]])#on récupère le dataframe et on l'ajoute à la liste

In [125]:
page=Scrap('http://www2.assemblee-nationale.fr/sycomore/resultats/(offset)/'+str(0)+'/(query)/IiBTRUxFQ1QgbV9jb2RlX2RlcHV0ZSwgaWRfYWN0ZXVyX3RyaWJ1biwgbGVnX21heF90cmlidW4sIG5vbSwgbm9tX2FmZmljaGUsIHByZW5vbSwgZGF0ZV9uYWlzLCBkYXRlX2RlY2VzIEZST00gZGVwdXRlIFdIRVJFIDE9MSAgQU5EIG1fY29kZV9kZXB1dGUgSU4gKFNFTEVDVCBtX2NvZGVfZGVwdXRlIEZST00gbWFuZGF0LCBkZXBhcnRlbWVudCAgV0hFUkUgbWFuZGF0Lm1fbnVtX2RlcCA9IGRlcGFydGVtZW50Lm1fbnVtX2RlcCBBTkQgbWFuZGF0Lm1fdHlwZV9tYW5kYXQgPSAxICkgT1JERVIgQlkgZGF0ZV9uYWlzIERFU0Mi')
table = page.find('table')
liste=ToDf(table)
for i in range(32):
    page=Scrap('http://www2.assemblee-nationale.fr/sycomore/resultats/(offset)/'+str((i+1)*500)+'/(query)/IiBTRUxFQ1QgbV9jb2RlX2RlcHV0ZSwgaWRfYWN0ZXVyX3RyaWJ1biwgbGVnX21heF90cmlidW4sIG5vbSwgbm9tX2FmZmljaGUsIHByZW5vbSwgZGF0ZV9uYWlzLCBkYXRlX2RlY2VzIEZST00gZGVwdXRlIFdIRVJFIDE9MSAgQU5EIG1fY29kZV9kZXB1dGUgSU4gKFNFTEVDVCBtX2NvZGVfZGVwdXRlIEZST00gbWFuZGF0LCBkZXBhcnRlbWVudCAgV0hFUkUgbWFuZGF0Lm1fbnVtX2RlcCA9IGRlcGFydGVtZW50Lm1fbnVtX2RlcCBBTkQgbWFuZGF0Lm1fdHlwZV9tYW5kYXQgPSAxICkgT1JERVIgQlkgZGF0ZV9uYWlzIERFU0Mi')
    table = page.find('table')#on récupère le seul tableau de la page qui liste des députés
    listeDf=ToDf(table)
    liste=pd.concat([liste,listeDf])#on récupère le dataframe et on l'ajoute à la liste
liste=liste.reset_index()#on recrée un index afin de ne pas s'arrêter à 500 puis recommencer comme dans les pages web
listeDepute=liste[['Nom','Né le']]#on récupère les variables qui nous intéressent

In [ ]:
page=Scrap('http://www2.assemblee-nationale.fr/sycomore/fiche/(num_dept)/'+str(5))
listeMandat=page
for i in range(len(listeDepute)-1) :
    page=Scrap('http://www2.assemblee-nationale.fr/sycomore/fiche/(num_dept)/'+str(i+7))

In [149]:
page=Scrap('http://www2.assemblee-nationale.fr/sycomore/fiche/(num_dept)/'+str(5))
a=page.findAll('dl', {'class' : "deputes-liste-attributs sycomore"})

In [161]:
for mandat in a :
    columns=mandat.findAll('dt')
    print(columns)
    lines=mandat.findAll('dd')
    if '<dt>Sénateur<dt>'not in lines :        
        df=pd.DataFrame([columns, lines])

[<dt>Régime politique</dt>, <dt>Législature</dt>, <dt>Mandat</dt>, <dt>Département</dt>, <dt>Groupe</dt>]
[<dt>Régime politique</dt>, <dt>Législature</dt>, <dt>Mandat</dt>, <dt>Département</dt>, <dt>Groupe</dt>]
[<dt>Régime politique</dt>, <dt>Législature</dt>, <dt>Mandat</dt>, <dt>Département</dt>, <dt>Groupe</dt>]
[<dt>Sénateur</dt>, <dt>Sénateur</dt>]

In [132]:
a=page.findAll('dl', {'class' : "deputes-liste-attributs sycomore"})

In [162]:
df

,0,1
0,<dt>Sénateur</dt>,<dt>Sénateur</dt>
1,<dd> du 3 octobre 1983 au 1er oc...,<dd> du 2 octobre 1992 au 2 mars ...

,0,1
0,<dt>Sénateur</dt>,<dt>Sénateur</dt>
1,<dd> du 3 octobre 1983 au 1er oc...,<dd> du 2 octobre 1992 au 2 mars ...